body {
    font-family: 'Siyam Rupali', sans-serif;
    background-color: #f0f8ff;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
label, select, input, button {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#result {
    background: #e7f3fe;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}
